.title-container {
  width: 200px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid #545e75;
}

.title {
  margin: 0;
}

.main-emoji-container {
  height: 200px;
  width: 200px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 20px;
  border: 2px solid #545e75;
  display: grid;
  place-content: center;
}

.main-emoji-item {
  font-size: 100px;
}

.emoji-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #545e75;
}

.emoji {
  font-size: 40px;
}

.emoji:hover {
  transform: scale(1.4);
}