.title-container {
  width: 250px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid #545e75;
}

.title {
  margin: 0;
}

.main-emoji-container {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 20px;
  border: 2px solid #545e75;
  display: grid;
  place-content: center;
}

 

.emoji-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #545e75;
}

.emoji {
  font-size: 40px;
}

.emoji:hover {
  transform: scale(1.4);
}

.emoji-editor-container{
  display: flex;
  justify-content: space-around;
}

.emoji-editor-container{
  display: flex;
  justify-content: space-around;
}

.colors-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width:400px ;
  padding: 10px;
  border-radius: 30px;
  margin-top: 100px;
}

.color-item{
   border: 1px solid gray;
   border-radius: 5px;
   width: 70px;
   height: 50px;
}

.color-item:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.bg-red{
  background-color: red;
}

.bg-black{
  background-color: black;
}

.bg-orange{
  background-color: orange;
}

.bg-green{
  background-color: green;
}

.bg-purple{
  background-color: purple;
}

.size-container{
  background-color: white;
  width:400px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 50px;
}

.size-slider{
  width: 100%;
}


